body{
    margin: 0;
    height: 100%;
}
#board{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: solid black 1px;
}